@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}
#root, .App {
  min-height: 100vh;
  background-color: white;
  font-family: Montserrat;
}


/* HOME / HEADER */
.header {
  display: flex;
  /* background-color: pink; */
  justify-content: flex-end;
  /* background-color: #385ea6; */
  /* margin-bottom: 1rem; */
  z-index: 1;
}
.header a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: .8rem;
  margin-right: 1.5rem;
  text-decoration: none;
  background-color: #5082dd;
  color: #ffe169;
  width: 100px;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  -webkit-box-shadow: 0px 2px 14px -5px #000000; 
  box-shadow: 0px 2px 14px -5px #000000;
  /* opacity: .85; */
  transition: .3s;
   
}
.header a:hover {
  color: #ffe169;
  background-color: #3f7df1;
  /* opacity: .7; */
  -webkit-box-shadow: 0px 2px 14px -5px #000000; 
  box-shadow: 0px 2px 14px -5px #000000;
  position: relative;
  /* scale: 1.005; */
}













.collectionIcon {
  /* border: 1px solid pink; */
  width: 3.5rem;
  
}
.collection-header-text {
font-size: .8rem;
font-family: Montserrat;
font-weight: 500;

margin-bottom: .5rem;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.logo {
 z-index: 1;
  width: 60%;
  transform: rotate(0deg);
}


/* SEARCH BAR */
.loadingBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow: auto;
  z-index: 1;
  /* opacity: .9; */
}
.loadingBall {
  /* position: relative; */
  width: 15%;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.search-container {
  width: 50%;
  margin: 50px auto;
}
input[type="text"] {
  display: block;
  width: calc(100% - 12px); /*20px [ left & Right ] padding + 4px border [ left & Right ] */ 
  font-size: 1rem;
  font-weight: 600;
  color: #385ea6;
  padding: 10px;
  border: 2px solid #385ea6;
  border-radius: 6px;
  opacity: .5;
  font-family: Montserrat;
}
input::placeholder {
  opacity: .5;
  color: #2c4c86;
}
input:hover {
  opacity: 1;
}
input:focus {
  opacity: 1;
}

.search-container form {
  position: relative;
  margin-left: 1.5rem;
}
.search-container form button {
  position: absolute;
  right: 0;
  bottom: 14px;
  height: 100%;
  width: 50px;
  background: transparent;
  border: transparent;
  font-size: 20px;
  color: #385ea6;
  cursor: pointer;
  outline: 0;
}
.fa-search {
  opacity: .5;
}
.fa-search:hover {
  opacity: 1;
}









.search-text-wrapper {
  display: inline-flex;
  width: 100%;
  gap: .5rem;
  justify-content: center;
  /* margin-left: 4.3rem; */
  /* font-weight: 500;
  font-size: 1rem; */
  margin-top: .5rem;
  /* margin-bottom: 1rem; */
  /* opacity: .6; */
}

form {
  /* margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%; */
  /* position: relative; */
}
.form-field {
  /* position: relative;
  display: flex;
  justify-content: center;
  max-width: 600px; */
}

.icon {
  /* position: absolute;
  left: 22.5%;
  top: 17%;
  width: 1.7rem;
  margin-left: 4rem;
  align-self: flex-start; */
  /* display: inline; */
  
}

#cardNumberSearch {
  /* display: inline; */
}
.search-label {
  /* display: block; */

}
.submit {
  /* display: block; */
}
.cardList-wrapper {
  /* margin-top: 2rem; */
  background-color: #f8f8f8;
  /* background-color: pink; */
  /* margin: 1.5rem; */
  padding: 1rem;
  box-shadow: 0px -8px 30px -24px rgba(0,0,0,0.68);
  -webkit-box-shadow: 0px -8px 30px -24px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px -8px 30px -24px rgba(0,0,0,0.68);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.sort-wrapper {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  gap: .5rem;
  font-weight: 500;
}
#sort {
  width: 13rem;
  font-family: Montserrat;
  font-weight: 500;
  padding: .2rem .4rem;
  background-color: #f8f8f8;
  border: 2px solid #385ea6;
  border-radius: 4px;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
  grid-gap: .5rem;
  justify-content: center;
  padding: initial;
}
.cards {
  width: 15rem;
  height: 20.625rem;
  border-radius: .5rem;
  margin: .5rem;
  transition: .5s;
  cursor: pointer;
}
.cards:hover {
  scale: 1.05;
  box-shadow: 5px 5px 17px -6px rgba(0,0,0,0.64);
-webkit-box-shadow: 5px 5px 17px -6px rgba(0,0,0,0.64);
-moz-box-shadow: 5px 5px 17px -6px rgba(0,0,0,0.64);
}



.pagination-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.page-buttons {
  background-color: #d5e8ffd9;
  color: #0064ddd9;
  /* padding: .3rem .4rem; */
  width: 2rem;
  height:2rem;
  text-align: center;
  border: 1px solid #a4aab789;
  border-radius: .4rem;
  cursor: pointer;
}
.page-buttons:hover {
  border: 1px solid #a4aab789;
  /* transition: .3s; */
  background-color: #28acffd9;
  color: #f8f8f8;
}
.selected-page {
  border: 1px solid #a4aab789;
  /* transition: .3s; */
  background-color: #3e93fbd9;
  color: #f8f8f8;
}


.fade-in {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}






.card-section {
  /* background-color: #f8f8f8; */
  /* height: 55vh; */
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.233);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.modal {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  min-height: 75%;
  width: 1000px;
  max-width: 900px;
  z-index: 3;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .7rem;
}
.modaltext {
  
}
#close {
  color: black;
  font-size: 2rem;
  position: absolute;
  left: 96%;
  cursor: pointer;
}
.cardDetails {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* margin: 2rem 0rem 0rem 1.2rem; */
  margin-top: 2.4rem;
  margin-left: 1rem;
  width: 40%;
}
.selected-card-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selected-card-image {
  width: 19rem;
  max-width: 19rem;
  /* height: 100%;
  max-height: 100%; */
  border-radius: .5rem;
  /* margin: 4.7rem 1rem 4.7rem 3rem; */
  margin-right: 3rem;
  /* margin: 2rem; */
}
.divider {
  display: block;
  height: 1.5px;
  width: 70%;
  background: linear-gradient(to right, #313639, white);
  margin-top: -1px;
  margin-left: 1px;
  margin-bottom: .3rem;
}

.detail {
  font-weight: 600;
}
#card-name {
  font-size: 2rem;
  font-weight: 800;
  color: #313639;
}
#supertype {
  font-weight: 500;
  font-size: .85rem;
  margin-bottom: .3rem;
}
#rarity {
  margin-bottom: 1.5rem;
  font-weight: 500;
}
#released {
  margin-bottom: 1rem;
}
.variation-wrapper {
  margin-top: 1.5rem;
  /* border: 3px solid blue; */
  background-color: #0063dd;
  color: #f8f8f8;
  padding: .5rem;
  border-radius: .3rem;
  max-width: 20rem;
}
.variation-divider {

}
.variation {
  font-weight: 600;
  margin-bottom: .5rem;
}
.price {
  margin-bottom: 1rem;
  /* font-weight: 500; */
}

.button {
  display: inline-block;
  border: none;
  padding: .5rem 1rem;
  margin: .5rem 0;
  text-decoration: none;
  background: #328fff;
  color: #ffffff;
  font-family: sans-serif;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: .5px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}
.button:hover {
  background: #137dffd9;
}
.remove {
  background-color: #cd5241;
  color: white;
  font-size: .7rem;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  right: 1rem;
  margin-bottom: .5rem;
  padding: .3rem;
  cursor: pointer;
  border-radius: 4px;
}
.remove:hover {
  background-color: #e07061;
}

.add-buttons {
  /* display: inline; */
  margin: 0 .5rem;
  scale: 1;
  cursor: pointer;
}
.add-buttons:hover {
  color: #d0ffd9;
}
.subtract-buttons:hover {
  color: #ffc5c5;
}
.variation-divider {
  background: linear-gradient(to right, white, #0064ddd9);
  width: 85%;
}
.variation-value {
  margin-top: 1rem;
  font-weight: 500;
  color: #d0ffd9;
  margin-left: .8rem;
}
.value {
  /* color: #d0ffd9; */
  margin-top: .3rem;
}
.collection-amount-wrapper {
  margin-top: .6rem;
}
.add-remove-wrapper {
  margin: .5rem 0;
}
.collection-amount {
  font-weight: 600;
  font-size: 1.1rem;
  color: #f8f8f8;
}
.total-card-value {
  margin-top: 1rem;
  /* text-align: center; */
  /* border: 4px solid #f9d401; */
  background-color: #f9d401;
  color: #313639;
  width: 60%;
  border-radius: 4px;
  padding: .5rem .5rem .5rem 1rem;
}
.collection-card-value {
  background-color: #f9d40196;
  padding: .4rem .8rem;
  border: 2px solid #f9d401;
  border-radius: 6px;
  transition: .5s;
  /* cursor: pointer; */
  margin-top: .7rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313639;
  gap: .8rem;
}
.individual-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 16.3rem;
}
.collection-header {
  padding-top: 1.3rem;
}
.collection-header, .collection-header a {
  /* margin-top: 1.3rem; */
  /* background-color: pink; */
  display: flex;
  justify-content: center;
}
.logo-link {
  width: 60%;
}
.collection-logo {
  display: inline;
  width: 100%;
}
.collection-value-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.money-bag {
  width: 23%;
  align-self: center;
}
.total-collection-value {
  text-align: center;
  margin-top: 2rem;
  width: 35%;
  margin-left: 5%;
}
.money-bag-total {
  width: 8%;
}
.no-collection-wrapper {
  margin-top: 3rem;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  /* background-color: pink; */
  font-weight: 500;
  font-size: 1.3rem;
}
.no-collection-title {
  font-size: 2rem;
}
.no-collection-text {
  text-align: center;
  width: 70%;
}
.derp {
  width: 16rem;
  border-radius: .8rem;
  margin-top: 1rem;
  margin-bottom: .4rem;
}
.gif-credit {
  font-size: .6rem;
  color: orange;
  letter-spacing: .07rem;
  margin-bottom: 1rem;
}
.gif-credit a {
  text-decoration: none;
  color: orange;
  font-weight: 600;
}
.gif-credit a:hover {
  color: rgb(255, 111, 0);
}