@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  
}
#root, .App {
  min-height: 100vh;
  background-color: white;
  font-family: Montserrat;
}


/* HOME / HEADER */
.header {
  display: flex;
  /* background-color: pink; */
  justify-content: flex-end;
  /* background-color: #385ea6; */
  /* margin-bottom: 1rem; */
  z-index: 1;
}
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: .8rem;
  margin-right: 1.5rem;
  text-decoration: none;
  background-color: #5082dd;
  color: #ffe169;
  width: 100px;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  -webkit-box-shadow: 0px 2px 14px -5px #000000; 
  box-shadow: 0px 2px 14px -5px #000000;
  /* opacity: .85; */
   
}
a:hover {
  color: #ffe169;
  background-color: #6390e3;
  /* opacity: .7; */
  -webkit-box-shadow: 0px 2px 14px -5px #000000; 
  box-shadow: 0px 2px 14px -5px #000000;
  position: relative;
}

.collectionIcon {
  /* border: 1px solid pink; */
  width: 3.5rem;
}
.collection-header-text {
font-size: .8rem;
font-family: Montserrat;
font-weight: 500;

margin-bottom: .5rem;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.logo {
 z-index: 1;
  width: 60%;
  transform: rotate(0deg);
}


/* SEARCH BAR */
.loadingBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow: auto;
  z-index: 1;
  /* opacity: .9; */
}
.loadingBall {
  /* position: relative; */
  width: 15%;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.search-text-wrapper {
  display: flex;
  width: 100%;
  gap: .5rem;
  justify-content: flex-start;
  margin-left: 4.3rem;
  font-weight: 500;
  font-size: .9rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  opacity: .6;
}

form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.form-field {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  left: 0;
  top: 7px;
  width: 1.5rem;
  margin-left: 4.5rem;
}
#query {
  margin-left: 4rem;
  text-indent: 2.5rem;
  width: 500px;
  height: 2rem;
  border-radius: .5rem;
  border: 3px solid #385ea6;
  opacity: .3;
  font-family: Montserrat;
  font-weight: 500;
}
#query:hover {
  opacity: .6;
}
#query:focus {
  opacity: 1;
  outline: 0px solid #385ea6;
}
#cardNumberSearch {
  /* display: inline; */
}
.search-label {
  /* display: block; */

}
.submit {
  /* display: block; */
}
.cardList-wrapper {
  margin-top: 2rem;
  background-color: #f8f8f8;
  /* background-color: pink; */
  /* margin: 1.5rem; */
  padding: 1rem;
  box-shadow: 0px -8px 30px -24px rgba(0,0,0,0.68);
  -webkit-box-shadow: 0px -8px 30px -24px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px -8px 30px -24px rgba(0,0,0,0.68);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.sort-wrapper {
  display: flex;
  align-self: flex-start;
  margin-bottom: 1rem;
  gap: .5rem;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
  grid-gap: .5rem;
  justify-content: center;
  padding: initial;
}
.cards {
  width: 15rem;
  height: 20.625rem;
  border-radius: .5rem;
  margin: .5rem;
  transition: .5s;
  cursor: pointer;
}
.cards:hover {
  scale: 1.05;
  box-shadow: 5px 5px 17px -6px rgba(0,0,0,0.64);
-webkit-box-shadow: 5px 5px 17px -6px rgba(0,0,0,0.64);
-moz-box-shadow: 5px 5px 17px -6px rgba(0,0,0,0.64);
}
.pagination-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.page-buttons {
  background-color: #ffe169;
  color: black;
  /* padding: .3rem .4rem; */
  width: 2rem;
  height:2rem;
  text-align: center;
  border: 2px solid #385ea6;
  cursor: pointer;
}
.page-buttons:hover {
  border: 3px solid #385ea6;
  /* transition: .3s; */
  background-color: #ffeeac;
}
.selected-page {
  border: 3px solid #385ea6;
  /* transition: .3s; */
  background-color: #ffeeac;
}


.fade-in {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}






.card-section {
  /* background-color: #f8f8f8; */
  /* height: 55vh; */
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.616);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal {
  display: flex;
  background-color: white;
  height: 300px;
  width: 700px;
  z-index: 3;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#close {
  color: black;
  font-size: 2rem;
  position: relative;
  left: 95%;
  cursor: pointer;
}
.modaltext {
  color: black;
}
.addToCollection {
  cursor: pointer;
}
.addOrRemoveBtn {
  cursor: pointer;
  margin: 0 .5rem;
}